@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply text-8xl;
  }
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    @apply font-opensans
  }

  .button-primary {
    @apply bg-gold-dark px-8 py-2 uppercase w-max rounded-full text-center text-offWhite hover:bg-gold-light transition-colors
  }

  .button-secondary {
    @apply bg-transparent px-8 py-2 uppercase w-max rounded-full text-center border-2 border-gold-dark text-gold-light hover:bg-gold-light hover:border-gold-light hover:text-offWhite transition-colors
  }
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'tangier';
  src: url('path_to_your_font/your_font.woff2') format('woff2'),
       url('path_to_your_font/your_font.woff') format('woff');
  font-weight: 400; /* Use the weight that's appropriate for your font */
  font-style: normal; /* Use the style that's appropriate for your font */
  font-display: swap; /* This is the key line you're interested in */
}
@font-face {
  font-family: 'Open sans';
  src: url('path_to_your_font/your_font.woff2') format('woff2'),
       url('path_to_your_font/your_font.woff') format('woff');
  font-weight: 400; /* Use the weight that's appropriate for your font */
  font-style: normal; /* Use the style that's appropriate for your font */
  font-display: swap; /* This is the key line you're interested in */
}
